<!--/*********************************************************************************
*  WEB322 – Assignment 05
*  I declare that this assignment is my own work with the exception of the parts provided to me by my professor 
*  in accordance with Seneca  Academic Policy.  No part *  of this assignment has been copied manually or electronically
*  from any other source 
*  (including 3rd party web sites) or distributed to other students.
* 
*  Name: Olzhas Kalikhan Student ID: 102469186 Date: 15.11.2019
*
*  Online (Heroku) Link: https://infinite-waters-33512.herokuapp.com/
*
********************************************************************************/-->

<div class="row">
    <div class="col-md-12">

        <h2>{{department.departmentName}} - Department: {{department.departmentId}}</h2>
        <hr />

        <form method="post" action="/department/update">

        <input type="hidden" name="departmentId" value="504" />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="departmentId" type="hidden" name="departmentId" value="{{department.departmentId}}"/>
                            <label for="departmentName">Department Name</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{department.departmentName}}" />
                        </div>
                    </div>
                </div>
              
            <hr />

            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />

        </form>
    </div>
</div>